.anime-shows-background {
    position: relative;
    background: url("../Images/Anime shows/Anime-shows-background1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
}
.animeshows-tv {
    max-height: 350px;
    width: auto;
    position: absolute;
}
.animeshows-video-container {
    margin-bottom: 335px;
    margin-right: 530px;
}
.animeshows-video {
    max-height: 335px;
    max-width:530px;
    position: absolute;
}
.AnimeShows-icon-arrow {
    height: 40px;
    opacity: 0.75;
    position: absolute;
    margin-top: 200px;
    margin-left: -285px;
    transition: 0.5s;
}
.AnimeShows-icon-arrow:hover {
    opacity: 1;
    transition: 0.5s;
}
@media only screen and (max-width:720px) {
    .animeshows-tv {
        max-height: 200px;
    }
    .animeshows-video-container {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .animeshows-video {
        max-height: 225px;
        max-width:300px; 
        position: relative; 
    }
    .AnimeShows-icon-arrow {
        height: 40px;
        opacity: 0.75;
        display: flex;
        position: absolute;
        margin-top: 200px;
        margin-left: -165px;
        transition: 0.5s;
    }
}