h1 {
    font-size: 100px;
    text-align: center;
    align-items: center;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    font-style: italic;
    font-family:cursive;
}
h3 {
    color: rgb(71, 71, 71);
    text-align: right;
    font-size: 50px;
}