body {
    /* background: linear-gradient(to right, #cc2b5e , rgb(121, 60, 141)); */
    background-image: linear-gradient(120deg, #4b79a1, #283e51);
    background-size: cover;
    text-transform: capitalize;
    background-repeat:no-repeat ;
}

.Gradient-1 {
    height: 300px;
    width: 60%;
    background: linear-gradient(to top right, #cc2b5e , rgb(121, 60, 141));
    background-repeat: repeat;
    background-size: 25px 30px;
    display: flex;
}
.Gradient-2 {
    height: 300px;
    width: 70%;
    background: radial-gradient(pink ,rgb(255, 43, 43) );
    display: flex;
}

#comment {
    height: 200px;
    width: 200px;
    position: relative;
    display: flexbox;
}