.Contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    overflow-x: hidden;
}
.contact-title {
    font-size: 35px;
    position: relative;
    color:red;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-email {
    border:none;
    margin-bottom: 25px;
    margin-top:50px ;
    padding: 20px;
    appearance: none;
    background-color: rgba(160, 145, 95, 0.2);
    border-radius: 3px;
    width: 300px;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}
.contact-email:focus {
    background-color:rgba(95, 118, 160, 0.5);
    transition: 0.75s;
}
.contact-comment {
    height: 200px;
    width: 300px;
    margin-bottom: 25px;
    resize: none;
    outline:none;
    background-color: rgba(160, 145, 95, 0.2);
    font-size: 20px;
    overflow: auto;
    transition: 0.5s;
    padding: 15px;
}
.contact-comment:focus {
    background-color:rgba(95, 118, 160, 0.5);
    transition: 0.75s;

}
.contact-button {
    width: 50px;
    background-color: rgba(255, 30, 0, 0.26);
    margin-left:82.5% ;
    font-family: sans-serif;
    text-align: left;
    padding: 5px;
    border: none;
    font-size: 15px;
    font-family: serif;
    transition: 0.2s;
}
.contact-button:hover {
    width: 60px;
    transition: 0.5s;
    text-align: left;
}
.Send-button-ico {
    display: flex;
    position: absolute;
    height: 13px;
    margin-left: 38px;
    margin-top: -14px;
    opacity: 0;
    color: black;
    transition: 0.2s;
}
.contact-button:hover .Send-button-ico{
    opacity: 100%;
    transition: 0.5s;
}
.drop-down-about-us {
    height: 40px;
    position: relative;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 0.75;
    transition: 0.5s;
}
.drop-down-about-us:hover {
    opacity: 1;
    transition: 0.5s;
}