.Bottom-Page {
    height: 120px;;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.arrow-ico {
    height: 60px;
    width: 60px;
    margin: 20px;
    position: relative;
}
.Copy-text {
    color: thistle;
    position: relative;
    font-size: 25px;
}
