.big-Img-container {
    transition: 00.5s;
    transition-delay: 0.2s;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(to bottom right, #FBD3E9,#BB377D);
        background-color: rgba(255, 123, 0, 0.25);
    background-blend-mode: color-dodge;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    position:relative;
}
.big-Img-container:hover {
    background: linear-gradient(to bottom right, #FBD3E9,#BB377D);
    background-color: rgba(95, 158, 160, 0);
    background-blend-mode: color-dodge;
    transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}
.container {
    align-items: center;
    margin: 20px;
}
.Img-container {
    transition: 0.5s;
    height: 300px;
    width: 225px;
    position: relative;
    margin: 10px;
    opacity: 75%;
    border: 2px double rgb(255, 145, 0);
    transform: scale(1);
}
.Img-container:hover {
    margin: 0px;
    border: 2px dotted rgb(0, 6, 83);
    opacity: 100%;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: 0.5s;
}
.Cap {
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    height: auto;
    width: 200px;
    text-align: center;
    margin: 20px auto 20px auto;
    font-family: 'Open Sans',sans-serif;
    color: rgba(201, 0, 0,0.25);
    font-weight: 300;
    font-size: 20px;
}
.container:hover .Cap {
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    color: rgba(201, 0, 0,1);
}
.drop-down-ico-img-link {
    position: relative;
    margin-left: 79%;
    margin-top: -3%;
}
.drop-down-ico-img {
    height: 40px;
    opacity: 0.75;
    transition: 0.5s;
}
.drop-down-ico-img:hover {
    background-color: rgba(255, 0, 0,0.2);
    opacity: 1;
    transition: 0.5s;
}